

    .onHoverCard{
         border: 1px solid #ccc;
        box-sizing: border-box;
        transition: all .1s ease-in;
        cursor: pointer;
        display: inline;
        box-shadow: 5px 5px #999;
    }


