.customcardWrp{
    width: 95%;
     background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,106,194,.2);
    cursor: pointer;
    border-radius: 8px;
    padding: 20px;
    margin-top: 15px;
    margin-left: 10px;
}