.cardWrp{
    
    span{
        color:#000;
        font-size: 15px;
        
    }
}

.activityWrp{
    border: 1px solid green;
        padding: 17px;
    .label{
        color: #000;
        font-size: 15px;
        color: green;
        font-weight: 600;
        margin-right: 5px;
    }
    
}
.viewAll{
    position: relative;

top: 20px;
left: 78%;
font-weight: 600;
color: mediumslateblue;
font-size: 15px;
cursor: pointer;
 }