.loginWrapper{
    span{
        margin-left:56px;
        font-size:13px; 
    }
    a{
        color:green;
    }
}
.customDialoglogin .customDialog{
    height: 265px;
    width: 318px;
    background: white;
    padding: 50px;
    top: 29%;
    left: 34%;
} 
.loginForm{
   
    .customButtonlogin button{
        width: 243px;
        height: 37px;
        background: #3498db;
        color: white;
        font-size: 13px;
        margin-top: 13px;
        margin-left: 37px;
        margin-bottom: 8px;
    }
    .customInputlogin input{
        width: 300px;
        height: 41px;
        border-radius: 25px;
        border: 2px solid darksalmon;
        padding-left: 14px;
        margin-bottom:5px; 
    }
}

.registerForm{
    .customButtonregister button{
        width: 243px;
        height: 37px;
        background: #3498db;
        color: white;
        font-size: 13px;
        margin-top: 13px;
        margin-left: 37px;
        margin-bottom: 8px; 
    }
    .customInputregister input{
        width: 300px;
        height: 41px;
        border-radius: 25px;
        border: 2px solid darksalmon;
        padding-left: 14px;
        margin-bottom:5px; 
    }
}
